---
- name: Install required packages
  apt:
    name: [apt-transport-https, software-properties-common, wget]
    state: present
    update_cache: yes

- name: Add Grafana GPG key
  apt_key:
    url: "{{ grafana_repo_key_url }}"
    state: present

- name: Add Grafana APT repository
  copy:
    dest: "{{ grafana_repo_file }}"
    content: "deb [signed-by=/etc/apt/trusted.gpg] https://apt.grafana.com stable main"
    owner: root
    group: root
    mode: '0644'
  notify: Reload systemd

- name: Install Grafana
  apt:
    name: "{{ grafana_package_name }}"
    state: present
    update_cache: yes

- name: Enable & start Grafana service
  service:
    name: "{{ grafana_service_name }}"
    enabled: yes
    state: started